/*
Custom CSS styles that override base theme go here.
*/
a,
a:link,
a:visited {
  outline:none;
}

.page-accreditation .region-secondary-content .hero-copy,
.front .region-secondary-content .hero-copy {
  display:none;
}

.page-accreditation .region-secondary-content .views-field-field-hero-image,
.front .region-secondary-content .views-field-field-hero-image {
  width:100%;
  float:none;
  margin:0;
}

.page-accreditation .region-secondary-content .views-field-field-hero-image img,
.front .region-secondary-content .views-field-field-hero-image img {
  width:100%;
  display:block;
}

#block-views-schedule-block.block {
  margin-bottom:0;
}

#block-block-3 {
  padding:10px;
  background:#FFF;
  border:1px solid #CCC;
}
